project_id                    = "prj-hypertech-dev"
region                        = "us-central1"
zone                          = "us-central1-a"
vpc_network                   = "vpc-dev-shared"
subnet                        = "subnet-dev-1"
cluster_name                  = "banking-cluster-dev"
machine_type                  = "e2-medium"
pod_secondary_range_name      = "pods-dev"
services_secondary_range_name = "services-dev"
master_ipv4_cidr_block        = "172.16.1.0/28"
